@use "../../node_modules/squatnotes-style/sass/mixins/buttons";
@use "../../node_modules/squatnotes-style/sass/mixins/border";
@use "../../node_modules/squatnotes-style/sass/mixins/colors";
@use "../../node_modules/squatnotes-style/sass/mixins/spacing";
@use "sass:math";
@use "sass:string";

$directions: top, right, bottom, left;
$axes: (
    "left": "x",
    "right": "x",
    "top": "y",
    "bottom": "y"
);
$spacing-levels: 0, 1, 2, 3, 4, 5, 6, 7;

:root {
    @include colors.generate-grays("squatnotes-");
}

#squatnotes,
#squatnotes-settings {
    --rounded-0: 0;
    --rounded-1: 0.25rem;
    --rounded-2: 0.50rem;

    @include spacing.spacing-variables(var(--root-font-size));

    --primary: #0388F5;
    --primary-hue: 207.0247933884deg;
    --primary-saturation: 97.5806451613%;
    --primary-lightness: 48.6274509804%;
    --primary-text: #ffffff;

    --secondary: #F59602;
    --secondary-hue: 36.5432098765deg;
    --secondary-saturation: 98.3805668016%;
    --secondary-lightness: 48.431372549%;
    --secondary-text: #ffffff;

    // Normalization
    button,
    textarea,
    select {
        color: inherit;
        font: inherit;
    }

    button {
        display: flex !important;
        align-items: center;
    }

    &,
    * {
        box-sizing: border-box;
    }

    * {
        margin: 0;
    }

    @include border.rounded-classes();
    @include spacing.spacing-classes();

    // Utility Classes
    &.flex,
    .flex {
        display: flex;
    }

    &.none,
    .none {
        display: none;
    }

    .w-100 {
        width: 100% !important;
    }


    // Headers
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500;
    }

    // Buttons
    button {
        border: 0;
        background: none;
        cursor: pointer;
    }

    @include buttons.button-classes();

    // Forms
    select,
    textarea {
        background-color: var(--squatnotes-input-bg);
    }
}

#squatnotes {
    background: var(--squatnotes-background);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 40px;
    color: var(--squatnotes-color);
    min-height: 400px;
    padding: var(--spacing-3);
    font-size: var(--root-font-size);
    overflow-y: auto;
    z-index: 9999;
}