@import "../shared.scss";

body {
    background-color: var(--squatnotes-background);
    font-size: 100%;
}

body * {
    box-sizing: content-box;
}

h1,
h2 {
    margin-top: 0;
}

#squatnotes-settings {
    --root-font-size: 12pt;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
}