#squatnotes {
    --root-font-size: 12pt;
    --spacing-0: 0;
    --spacing-1: calc(0.25 * var(--root-font-size));
    --spacing-2: calc(0.5 * var(--root-font-size));
    --spacing-3: var(--root-font-size);
    --spacing-4: calc(2 * var(--root-font-size));
    --spacing-5: calc(4 * var(--root-font-size));
    --spacing-6: calc(8 * var(--root-font-size));
    --spacing-7: calc(16 * var(--root-font-size));

    --primary: #0388F5;
    --primary-hue: 207.0247933884deg;
    --primary-saturation: 97.5806451613%;
    --primary-lightness: 48.6274509804%;

    width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;

    flex-direction: column;

    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 40px;
    z-index: 9999;
    padding: var(--spacing-3);
    border-left: 1px solid #000000;
    font-size: var(--root-font-size);
    overflow-y: auto;
}

#squatnotes,
#squatnotes * {
    box-sizing: border-box;
}

#squatnotes h1,
#squatnotes h2,
#squatnotes h3,
#squatnotes h4,
#squatnotes h5,
#squatnotes h6 {
    font-weight: 500;
}

#squatnotes button,
#squatnotes select {
    font-size: inherit;
    padding: 0.25rem 0.375rem;
}

#squatnotes button {
    background: var(--primary);
    border: 0;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    padding: var(--spacing-1) var(--spacing-3);
}

#squatnotes .button-icon {
    height: var(--root-font-size);
    filter: invert(1);
    margin-right: var(--spacing-1);
}

#squatnotes textarea {
    padding: var(--spacing-2);
}

#squatnotes .note {
    margin: 1rem 0;
}

#squatnotes .note-header {
    display: flex;
}

#squatnotes #current-time {
    font-weight: normal;
}

#squatnotes .delete-button {
    margin-left: auto;
}

#squatnotes .save-button {
    margin-top: 1rem;
}

.note-header {
    display: flex;
}

.note-controls {
    margin-left: auto;
}

#save-note {
    margin-top: var(--spacing-4);
}

#notebook-picker {
    display: flex;
}

#add-note {
    margin-top: var(--spacing-3);
}