@use "sass:math";
@use "sass:string";
@import "../shared.scss";

#squatnotes {
    --root-font-size: 12pt;

    width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;

    flex-direction: column;

    border-left: 1px solid #000000;

    // Other CSS
    #theme-toggler {
        background: none;

        img {
            filter: var(--squatnotes-button-filter);
            width: 25px;
        }
    }
}

#squatnotes .button-icon {
    height: var(--root-font-size);
    filter: invert(1);
    margin-right: var(--spacing-1);
}

#squatnotes textarea {
    padding: var(--spacing-2);
}

#squatnotes .note-controls button {
    background: initial;

    .button-icon {
        filter: var(--squatnotes-button-filter);
    }
}

#squatnotes #current-time {
    font-weight: normal;
}