@use "sass:math";
@use "sass:string";

$directions: top, right, bottom, left;
$axes: (
    "left": "x",
    "right": "x",
    "top": "y",
    "bottom": "y"
);
$spacing-levels: 0, 1, 2, 3, 4, 5, 6, 7;

#squatnotes {
    --root-font-size: 12pt;
    --spacing-0: 0;
    --spacing-1: calc(0.25 * var(--root-font-size));
    --spacing-2: calc(0.5 * var(--root-font-size));
    --spacing-3: var(--root-font-size);
    --spacing-4: calc(2 * var(--root-font-size));
    --spacing-5: calc(4 * var(--root-font-size));
    --spacing-6: calc(8 * var(--root-font-size));
    --spacing-7: calc(16 * var(--root-font-size));

    --primary: #0388F5;
    --primary-hue: 207.0247933884deg;
    --primary-saturation: 97.5806451613%;
    --primary-lightness: 48.6274509804%;

    width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;

    flex-direction: column;

    background: var(--squatnotes-background);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 40px;
    color: var(--squatnotes-color);
    z-index: 9999;
    padding: var(--spacing-3);
    border-left: 1px solid #000000;
    font-size: var(--root-font-size);
    overflow-y: auto;

    // Normalization
    button,
    textarea,
    select {
        font-size: inherit;
    }

    // Utility Classes
    &.flex,
    .flex {
        display: flex;
    }

    &.none,
    .none {
        display: none;
    }

    // Spacing Utility Classes
    @each $direction in $directions {
        $shorthand: string.slice($direction, 1, 1);
        $axis: map-get($map: $axes, $key: $direction);

        .m#{$shorthand}-auto,
        .m#{$axis}-auto {
            margin-#{$direction}: auto !important;
        }

        .p#{$shorthand}-auto,
        .p#{$axis}-auto {
            padding-#{$direction}: auto !important;
        }

        .m#{$shorthand}-0,
        .m#{$axis}-0 {
            margin-#{$direction}: 0 !important;
        }

        .p#{$shorthand}-0,
        .p#{$axis}-0 {
            padding-#{$direction}: 0 !important;
        }

        // Level Specific CSS
        @each $level in $spacing-levels {

            .m#{$shorthand}-#{$level},
            .m#{$axis}-#{$level} {
                margin-#{$direction}: var(--spacing-#{$level}) !important;
            }

            .p#{$shorthand}-#{$level},
            .p#{$axis}-#{$level} {
                padding-#{$direction}: var(--spacing-#{$level}) !important;
            }
        }
    }

    @each $level in $spacing-levels {
        .m-#{$level} {
            margin: var(--spacing-#{$level}) !important;
        }

        .p-#{$level} {
            padding: var(--spacing-#{$level}) !important;
        }
    }

    .w-100 {
        width: 100% !important;
    }

    // Buttons
    button {
        border: 0;
        cursor: pointer;
    }

    .btn-primary {
        background: var(--primary);
        border-radius: 4px;
        color: #ffffff;
        display: flex;
        padding: var(--spacing-1) var(--spacing-3);

        &:hover {
            background-color: hsl(var(--primary-hue), var(--primary-saturation), calc(var(--primary-lightness) - 10%)) !important;
        }
    }

    // Other CSS
    #theme-toggler {
        background: none;

        img {
            filter: var(--squatnotes-button-filter);
            width: 25px;
        }
    }
}

#squatnotes,
#squatnotes * {
    box-sizing: border-box;
}

#squatnotes h1,
#squatnotes h2,
#squatnotes h3,
#squatnotes h4,
#squatnotes h5,
#squatnotes h6 {
    font-weight: 500;
}

#squatnotes .button-icon {
    height: var(--root-font-size);
    filter: invert(1);
    margin-right: var(--spacing-1);
}

#squatnotes textarea {
    padding: var(--spacing-2);
}

#squatnotes .note {
    margin: 1rem 0;
}

#squatnotes .note-controls button {
    background: initial;

    .button-icon {
        filter: var(--squatnotes-button-filter);
    }
}

#squatnotes .note-header {
    display: flex;
}

#squatnotes #current-time {
    font-weight: normal;
}

#squatnotes .delete-button {
    margin-left: auto;
}

#squatnotes .save-button {
    margin-top: 1rem;
}

.note-controls {
    margin-left: auto;
}

#save-note {
    margin-top: var(--spacing-4);
}

#notebook-picker {
    display: flex;
}

.notebook-picker-reload {
    margin-top: var(--spacing-2);
}

#add-note {
    margin-top: var(--spacing-3);
}