#squatnotes .note {
    margin: 1rem 0;
}

#squatnotes .note-header {
    display: flex;
}

#squatnotes .delete-button {
    margin-left: auto;
}

#squatnotes .save-button {
    margin-top: 1rem;
}

.note-header {
    display: flex;
}

.note-controls {
    margin-left: auto;
}