#squatnotes {
    --spacing-0: 0;
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 1rem;
    --spacing-4: 2rem;
    --spacing-5: 4rem;
    --spacing-6: 8rem;
    --spacing-7: 16rem;

    width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;

    flex-direction: column;

    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 40px;
    z-index: 9999;
    padding: 1.5rem;
    border-left: 1px solid #000000;
    font-size: 12pt;
}

#squatnotes button,
#squatnotes select {
    font-size: inherit;
    padding: 0.25rem 0.375rem;
}

#squatnotes .note {
    margin: 1rem 0;
}

#squatnotes .note-header {
    display: flex;
}

#squatnotes .delete-button {
    margin-left: auto;
}

#squatnotes .save-button {
    margin-top: 1rem;
}

.note-header {
    display: flex;
}

.note-controls {
    margin-left: auto;
}